USE [master]
GO
/****** Object:  Database [KasiRoomNetworkDB_Test]    Script Date: 2026/07/02 07:51:39 ******/
CREATE DATABASE [KasiRoomNetworkDB_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KasiRoomNetworkDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KasiRoomNetworkDB_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KasiRoomNetworkDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KasiRoomNetworkDB_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KasiRoomNetworkDB_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KasiRoomNetworkDB_Test]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](150) NULL,
	[City] [nvarchar](100) NULL,
	[Suburb] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminVerificationLogs]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminVerificationLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [nvarchar](450) NULL,
	[EntityType] [nvarchar](50) NULL,
	[EntityId] [int] NULL,
	[Action] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenity]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenity](
	[AmenityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationId] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[TenantId] [nvarchar](450) NOT NULL,
	[LandlordId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandlordProfiles]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandlordProfiles](
	[LandlordProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Bio] [nvarchar](500) NULL,
	[IsVerified] [bit] NULL,
	[VerifiedAt] [datetime] NULL,
	[VerifiedBy] [nvarchar](450) NULL,
	[VerificationNotes] [nvarchar](255) NULL,
	[WhatsAppNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LandlordProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Landlord_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listing]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
	[ListingId] [int] IDENTITY(1,1) NOT NULL,
	[LandlordUserId] [nvarchar](450) NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[VerifiedBy] [nvarchar](450) NULL,
	[VerifiedOn] [datetime] NULL,
	[VerificationNotes] [nvarchar](255) NULL,
	[PropertyId] [int] NOT NULL,
	[AvailableUnits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingContactLog]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingContactLog](
	[ContactLogId] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ConversationId] [int] NULL,
	[ContactMethod] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingPhoto]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingPhoto](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[PhotoPath] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[SenderId] [nvarchar](450) NOT NULL,
	[MessageText] [nvarchar](1000) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LandlordId] [nvarchar](450) NULL,
	[PropertyType] [nvarchar](50) NULL,
	[TotalRooms] [int] NULL,
	[PropertyName] [nvarchar](150) NULL,
	[IsVerified] [bit] NOT NULL,
	[VerifiedBy] [nvarchar](450) NULL,
	[VerifiedOn] [datetime] NULL,
	[VerificationNotes] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyAmenity]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyAmenity](
	[PropertyAmenityId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyAmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PropertyAmenity] UNIQUE NONCLUSTERED 
(
	[PropertyId] ASC,
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyPhoto]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyPhoto](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[PhotoPath] [nvarchar](255) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[City] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserProfiles_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Address_Search]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_Address_Search] ON [dbo].[Address]
(
	[Province] ASC,
	[City] ASC,
	[Suburb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2026/07/02 07:51:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2026/07/02 07:51:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Conversation]    Script Date: 2026/07/02 07:51:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Conversation] ON [dbo].[Conversation]
(
	[ListingId] ASC,
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Listing_Search]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_Listing_Search] ON [dbo].[Listing]
(
	[IsAvailable] ASC,
	[IsVerified] ASC,
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingPhoto_ListingId]    Script Date: 2026/07/02 07:51:41 ******/
CREATE NONCLUSTERED INDEX [IX_ListingPhoto_ListingId] ON [dbo].[ListingPhoto]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminVerificationLogs] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Amenity] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Amenity] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Conversation] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LandlordProfiles] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((1)) FOR [AvailableUnits]
GO
ALTER TABLE [dbo].[ListingContactLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListingPhoto] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListingPhoto] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ListingPhoto] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PropertyPhoto] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[PropertyPhoto] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PropertyPhoto] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminVerificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_AdminVerificationLogs_AspNetUsers] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AdminVerificationLogs] CHECK CONSTRAINT [FK_AdminVerificationLogs_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_Conversation_Landlord] FOREIGN KEY([LandlordId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_Conversation_Landlord]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_Converstaion_Listing] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_Converstaion_Listing]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_Converstion_Tenant] FOREIGN KEY([TenantId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_Converstion_Tenant]
GO
ALTER TABLE [dbo].[LandlordProfiles]  WITH CHECK ADD  CONSTRAINT [FK_LandlordProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LandlordProfiles] CHECK CONSTRAINT [FK_LandlordProfiles_Users]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_Listing_AspNetUsers] FOREIGN KEY([LandlordUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_Listing_AspNetUsers]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_Listing_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([PropertyId])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_Listing_Property]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_Listings_AspNetUsers] FOREIGN KEY([VerifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_Listings_AspNetUsers]
GO
ALTER TABLE [dbo].[ListingPhoto]  WITH CHECK ADD  CONSTRAINT [FK_ListingPhotos_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingPhoto] CHECK CONSTRAINT [FK_ListingPhotos_Listings]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Conversation] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Conversation]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Sender]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Address]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_AspNetUsers] FOREIGN KEY([LandlordId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_AspNetUsers]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_VerifiedBy] FOREIGN KEY([VerifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_VerifiedBy]
GO
ALTER TABLE [dbo].[PropertyAmenity]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAmenity_Amenity] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenity] ([AmenityId])
GO
ALTER TABLE [dbo].[PropertyAmenity] CHECK CONSTRAINT [FK_PropertyAmenity_Amenity]
GO
ALTER TABLE [dbo].[PropertyAmenity]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAmenity_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyAmenity] CHECK CONSTRAINT [FK_PropertyAmenity_Property]
GO
ALTER TABLE [dbo].[PropertyPhoto]  WITH CHECK ADD  CONSTRAINT [FK_PropertyPhoto_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyPhoto] CHECK CONSTRAINT [FK_PropertyPhoto_Property]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_AspNetUsers]
GO
ALTER TABLE [dbo].[LandlordProfiles]  WITH CHECK ADD  CONSTRAINT [CK_LandlordProfiles_WhatsAppNumber] CHECK  (([WhatsAppNumber] IS NULL OR len([WhatsAppNumber])>=(10) AND len([WhatsAppNumber])<=(20)))
GO
ALTER TABLE [dbo].[LandlordProfiles] CHECK CONSTRAINT [CK_LandlordProfiles_WhatsAppNumber]
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Landlord_For_Verification]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Get_Landlord_For_Verification]
    @LandlordUserId NVARCHAR(450) = NULL,
	@LandlordProfileID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        lp.LandlordProfileId,
        lp.UserId AS LandlordUserId,

        -- Identity
        au.Email,
        au.PhoneNumber AS AccountPhoneNumber,
        au.CreatedAt AS AccountCreatedAt,

        -- Profile
        up.FullName,
        up.PhoneNumber,
        up.Province,
        up.City,

        lp.Bio,
        lp.IsVerified,
        lp.VerifiedAt,
		lp.WhatsAppNumber,

        -- Activity
        (
            SELECT COUNT(*)
            FROM Property p
            WHERE p.LandlordId = lp.UserId
              AND p.IsActive = 1
        ) AS PropertyCount,

        (
            SELECT COUNT(*)
            FROM Listing l
            WHERE l.LandlordUserId = lp.UserId
              AND l.IsActive = 1
        ) AS ListingCount,

        (
            SELECT COUNT(*)
            FROM Listing l
            WHERE l.LandlordUserId = lp.UserId
              AND l.IsVerified = 1
              AND l.IsActive = 1
        ) AS VerifiedListingCount

    FROM LandlordProfiles lp
        INNER JOIN AspNetUsers au
            ON lp.UserId = au.Id
        LEFT JOIN UserProfiles up
            ON lp.UserId = up.UserId
    WHERE lp.UserId = @LandlordUserId OR 
		lp.LandlordProfileId = @LandlordProfileID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Listing_For_Verification]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_Listing_For_Verification]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.Title,
        l.Description,
        l.Price,
        l.IsVerified,
        l.CreatedAt,

        -- Property
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
		P.IsVerified AS PropertyVerified,

        -- Landlord
        up.FullName AS LandlordName,
        up.PhoneNumber,

        -- Address
        a.Street,
        a.Suburb,
        a.City,
        a.Province

    FROM Listing l
        INNER JOIN Property p
            ON l.PropertyId = p.PropertyId
        INNER JOIN Address a
            ON p.AddressId = a.AddressId
        LEFT JOIN UserProfiles up
            ON l.LandlordUserId = up.UserId
    WHERE l.ListingId = @ListingId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Listing_Photos]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Admin_Get_Listing_Photos]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PhotoId,
        PhotoPath,
        IsPrimary
    FROM ListingPhoto
    WHERE ListingId = @ListingId
      AND IsActive = 1
    ORDER BY IsPrimary DESC, CreatedAt;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Property_For_Verification]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Get_Property_For_Verification]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- Property
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        p.CreatedAt,
        p.IsVerified,
        p.VerificationNotes,
        p.VerifiedOn,

        -- Landlord
        p.LandlordId AS LandlordUserId,
        up.FullName,
        up.PhoneNumber,
        lp.Bio,
		lp.WhatsAppNumber,
        ISNULL(lp.IsVerified, 0) AS LandlordVerified,

        -- Address
        a.Province,
        a.City,
        a.Suburb,
        a.Street,

        -- Useful Admin Stats
        (
            SELECT COUNT(*)
            FROM PropertyPhoto pp
            WHERE pp.PropertyId = p.PropertyId
              AND pp.IsActive = 1
        ) AS TotalPhotos,

        (
            SELECT COUNT(*)
            FROM Listing l
            WHERE l.PropertyId = p.PropertyId
              AND l.IsActive = 1
        ) AS TotalListings

    FROM Property p
        INNER JOIN Address a
            ON p.AddressId = a.AddressId

        LEFT JOIN UserProfiles up
            ON p.LandlordId = up.UserId

        LEFT JOIN LandlordProfiles lp
            ON p.LandlordId = lp.UserId

    WHERE p.PropertyId = @PropertyId
      AND p.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Property_Photos]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Get_Property_Photos]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PhotoId,
        PropertyId,
        PhotoPath,
        IsPrimary,
        CreatedAt
    FROM PropertyPhoto
    WHERE PropertyId = @PropertyId
      AND IsActive = 1
    ORDER BY
        IsPrimary DESC,
        CreatedAt ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Unverified_Landlords]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_Unverified_Landlords]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        lp.LandlordProfileId,
        lp.UserId AS LandlordUserId,
        up.FullName,
        up.PhoneNumber,
        up.City,
        up.Province,
		lp.WhatsAppNumber,
        lp.Bio,
        lp.IsVerified,
        lp.VerifiedAt,
		CASE
            WHEN lp.verifiedBy IS NOT NULL
                 AND lp.VerifiedAt IS NULL
            THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS VerificationStatus,
		lp.verifiedBy
    FROM LandlordProfiles lp
    INNER JOIN UserProfiles up
        ON lp.UserId = up.UserId
    WHERE lp.IsVerified = 0
    ORDER BY up.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Unverified_Listings]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_Unverified_Listings]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        l.ListingId,
        l.Title,
        l.Price,
		pr.PropertyName,
        a.Province,
        a.City,
        a.Suburb,
		a.Street,
        l.CreatedAt,
		l.IsVerified,
		l.VerifiedOn
    FROM Listing l
		INNER JOIN Property pr ON l.PropertyId = pr.PropertyId
		INNER JOIN Address a ON pr.AddressId = a.AddressId
    WHERE l.IsVerified = 0
      AND l.IsActive = 1
    ORDER BY l.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Unverified_Properties]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Get_Unverified_Properties]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        p.CreatedAt,
		p.VerifiedOn AS VerifiedAt,

        a.Province,
        a.City,
        a.Suburb,
        a.Street,

        u.UserName ,
        up.FullName ,
        up.PhoneNumber

        --pp.PhotoPath AS PrimaryPhoto

    FROM Property p

    INNER JOIN Address a
        ON p.AddressId = a.AddressId

    INNER JOIN AspNetUsers u
        ON p.LandlordId = u.Id

    LEFT JOIN UserProfiles up
        ON p.LandlordId = up.UserId

    --LEFT JOIN PropertyPhoto pp
    --    ON p.PropertyId = pp.PropertyId
    --   AND pp.IsPrimary = 1
    --   AND pp.IsActive = 1

    WHERE p.IsVerified = 0 and p.IsActive = 1

    ORDER BY p.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_User_Details]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_User_Details]
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.Id AS UserId,
        u.UserName,
        u.Email,
        P.PhoneNumber,
		P.FullName,
        u.CreatedAt,

        CASE
            WHEN u.LockoutEnd IS NOT NULL
                 AND u.LockoutEnd > GETDATE()
            THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS IsBlocked,

        u.LockoutEnd,

        r.Name AS RoleName,

        ISNULL((
            SELECT COUNT(*)
            FROM Property p
            WHERE p.LandlordId = u.Id
        ),0) AS PropertyCount,

        ISNULL((
            SELECT COUNT(*)
            FROM Listing l
            WHERE l.LandlordUserId = u.Id
        ),0) AS ListingCount,

        ISNULL((
            SELECT COUNT(*)
            FROM Conversation c
            WHERE c.TenantId = u.Id
               OR c.LandlordId = u.Id
        ),0) AS ConversationCount

    FROM AspNetUsers u
    LEFT JOIN AspNetUserRoles ur
        ON ur.UserId = u.Id
    LEFT JOIN AspNetRoles r
        ON r.Id = ur.RoleId
	LEFT JOIN UserProfiles P
		ON P.UserId = u.Id
    WHERE u.Id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Users]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_Users]
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		A.id,
		A.UserName,
		A.Email,
		A.CreatedAt,

		CASE
            WHEN A.LockoutEnd IS NOT NULL
                 AND A.LockoutEnd > GETDATE()
            THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS IsBlocked,

		R.Name AS RoleName,
		--UR.RoleId
		P.FullName,
		P.PhoneNumber
	FROM [dbo].[AspNetUsers] A
	LEFT JOIN AspNetUserRoles UR ON A.Id = UR.UserId
	LEFT JOIN AspNetRoles R ON UR.RoleId = R.Id
	LEFT JOIN UserProfiles P ON A.Id = P.UserID
	ORDER BY ISNULL(P.CreatedAt, A.CreatedAt) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Get_Verification_Logs]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Get_Verification_Logs]
   
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        l.LogId,
        u.UserName AS AdminUser,
        l.Action,
		l.EntityType,
		l.EntityId,
        l.Notes,
        l.CreatedOn
    FROM AdminVerificationLogs l
    INNER JOIN AspNetUsers u ON l.AdminUserId = u.Id
    ORDER BY l.CreatedOn DESC;
END

--ALTER PROCEDURE [dbo].[sp_Admin_Get_Verification_Logs]
--    @EntityType NVARCHAR(50),
--    @EntityId INT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    SELECT 
--        l.LogId,
--        u.UserName AS AdminUser,
--        l.Action,
--        l.Notes,
--        l.CreatedOn
--    FROM AdminVerificationLogs l
--    INNER JOIN AspNetUsers u ON l.AdminUserId = u.Id
--    WHERE l.EntityType = @EntityType
--      AND l.EntityId = @EntityId
--    ORDER BY l.CreatedOn DESC;
--END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Verify_Landlord]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Verify_Landlord]
(
    @LandlordUserId NVARCHAR(450),
	@LandlordProfileId INT,
    @AdminUserId NVARCHAR(450),
    @IsApproved BIT,
    @Notes NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        -- Ensure landlord exists

        IF NOT EXISTS
        (
            SELECT 1
            FROM LandlordProfiles
            WHERE UserId = @LandlordUserId
        )
        BEGIN
            RAISERROR('Landlord profile not found.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Prevent duplicate approval

        IF @IsApproved = 1
        AND EXISTS
        (
            SELECT 1
            FROM LandlordProfiles
            WHERE UserId = @LandlordUserId
              AND IsVerified = 1
        )
        BEGIN
            RAISERROR('Landlord already verified.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE LandlordProfiles
        SET
            IsVerified = @IsApproved,
            VerifiedAt =
                CASE
                    WHEN @IsApproved = 1
                    THEN GETDATE()
                    ELSE NULL
                END,
            VerifiedBy = @AdminUserId,
            VerificationNotes = @Notes
        WHERE UserId = @LandlordUserId;

        INSERT INTO AdminVerificationLogs
        (
            AdminUserId,
            EntityType,
            EntityId,
            Action,
            Notes,
            CreatedOn
        )
        VALUES
        (
            @AdminUserId,
            'Landlord',
            @LandlordProfileId,
            CASE
                WHEN @IsApproved = 1
                THEN 'Approved'
                ELSE 'Rejected'
            END,
            @Notes,
            GETDATE()
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Verify_Listing]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Verify_Listing]
    @ListingId INT,
    @AdminUserId NVARCHAR(450),
    @IsApproved BIT,
    @Notes NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM Listing
            WHERE ListingId = @ListingId
        )
        BEGIN
            THROW 50001, 'Listing not found.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM Listing
            WHERE ListingId = @ListingId
              AND IsVerified = 1
        )
        BEGIN
            THROW 50002, 'Listing already verified.', 1;
        END;

        UPDATE Listing
        SET
            IsVerified = @IsApproved,
            UpdatedAt = GETDATE(),
            VerifiedBy =
                CASE
                    WHEN @IsApproved = 1
                    THEN @AdminUserId
                    ELSE NULL
                END,
            VerifiedOn = GETDATE(),
            VerificationNotes = @Notes
        WHERE ListingId = @ListingId;

        INSERT INTO AdminVerificationLogs
        (
            AdminUserId,
            EntityType,
            EntityId,
            Action,
            Notes,
            CreatedOn
        )
        VALUES
        (
            @AdminUserId,
            'Listing',
            @ListingId,
            CASE
                WHEN @IsApproved = 1
                THEN 'Approved'
                ELSE 'Rejected'
            END,
            @Notes,
            GETDATE()
        );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Verify_Property]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Admin_Verify_Property]
    @PropertyId INT,
    @AdminUserId NVARCHAR(450),
    @IsApproved BIT,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Ensure property exists and is active
        IF NOT EXISTS
        (
            SELECT 1
            FROM Property
            WHERE PropertyId = @PropertyId
              AND IsActive = 1
        )
        BEGIN
            RAISERROR('Property not found.', 16, 1);
            RETURN;
        END

        -- Approve
        IF @IsApproved = 1
        BEGIN
            UPDATE Property
            SET
                IsVerified = 1,
                VerifiedBy = @AdminUserId,
                VerifiedOn = GETDATE(),
                VerificationNotes = @Notes
            WHERE PropertyId = @PropertyId;

            INSERT INTO AdminVerificationLogs
            (
                AdminUserId,
                EntityType,
                EntityId,
                Action,
                Notes
            )
            VALUES
            (
                @AdminUserId,
                'Property',
                @PropertyId,
                'Approved',
                @Notes
            );
        END
        ELSE
        BEGIN
            -- Reject
            UPDATE Property
            SET
                IsVerified = 0,
                VerifiedBy = NULL,
                VerifiedOn = GETDATE(),
                VerificationNotes = @Notes
            WHERE PropertyId = @PropertyId;

            INSERT INTO AdminVerificationLogs
            (
                AdminUserId,
                EntityType,
                EntityId,
                Action,
                Notes
            )
            VALUES
            (
                @AdminUserId,
                'Property',
                @PropertyId,
                'Rejected',
                @Notes
            );
        END

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();

        RAISERROR(@ErrorMessage, 16, 1);

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Amenity_Get_All]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Amenity_Get_All]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AmenityId,
        Name,
        Category,
        Icon
    FROM Amenity
    WHERE IsActive = 1
    ORDER BY Category, Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Landlord_Create_Property]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Landlord_Create_Property]
    @LandlordUserId NVARCHAR(450),
    @PropertyType NVARCHAR(150),
	@TotalRooms INT NULL,
	@PropertyName NVARCHAR(150) NULL,
	@Street NVARCHAR(150),
    @Province NVARCHAR(100),
    @City NVARCHAR(100),
    @Suburb NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION;

		--Insert the listing Address
		INSERT INTO Address (Street, Province, City, Suburb)
			VALUES (@Street, @Province, @City, @Suburb);

		-- Retrieve the newly inserted AddressId
        DECLARE @AddressId INT = SCOPE_IDENTITY();

		INSERT INTO Property (LandlordId, AddressId, PropertyType, TotalRooms, PropertyName, CreatedAt)
			VALUES (@LandlordUserId, @AddressId, @PropertyType, @TotalRooms, @PropertyName, GETDATE());
		  
		DECLARE @PropertyId INT = SCOPE_IDENTITY();

		COMMIT TRANSACTION;

        -- Return the newly inserted PropertyId
        SELECT @PropertyId AS PropertyId;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Landlord_Get_All_Listings]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Landlord_Get_All_Listings]
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.LandlordUserId AS LandlordId,
        l.Title,
        l.Price,
        l.IsVerified,
        l.IsAvailable,
		l.AvailableUnits,
        a.Province,
        a.City,
        a.Suburb,
        p.PhotoPath AS PrimaryPhoto
    FROM Listing l
    INNER JOIN AspNetUsers u ON l.LandlordUserId = u.Id
    INNER JOIN Property pr ON l.PropertyId = pr.PropertyId
    INNER JOIN Address a ON pr.AddressId = a.AddressId
    LEFT JOIN ListingPhoto p
        ON p.ListingId = l.ListingId
       AND p.IsPrimary = 1
       AND p.IsActive = 1
    WHERE l.LandlordUserId = @LandlordId
      AND l.IsActive = 1
    ORDER BY l.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Landlord_Get_All_Properties]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Landlord_Get_All_Properties]
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.PropertyId,
        p.LandlordId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        p.CreatedAt,

        a.Street,
        a.Province,
        a.City,
        a.Suburb,

        pp.PhotoPath AS PrimaryPhoto,

        COUNT(l.ListingId) AS TotalListings

    FROM Property p

    INNER JOIN Address a
        ON p.AddressId = a.AddressId

    LEFT JOIN PropertyPhoto pp
        ON p.PropertyId = pp.PropertyId
        AND pp.IsPrimary = 1
        AND pp.IsActive = 1

    LEFT JOIN Listing l
        ON p.PropertyId = l.PropertyId
        AND l.IsActive = 1

    WHERE p.LandlordId = @LandlordId
		AND p.IsActive = 1

    GROUP BY
        p.PropertyId,
        p.LandlordId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        p.CreatedAt,
        a.Street,
        a.Province,
        a.City,
        a.Suburb,
        pp.PhotoPath

    ORDER BY p.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Landlord_Get_Listing_Details]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Landlord_Get_Listing_Details]
	@ListingId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Listing
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Landlord_Get_Properties_By_User]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Landlord_Get_Properties_By_User]
    @LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        p.CreatedAt,

        a.Street,
        a.Suburb,
        a.City,
        a.Province

    FROM Property p
    INNER JOIN Address a ON p.AddressId = a.AddressId
    WHERE p.LandlordId = @LandlordUserId
    ORDER BY p.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LandlordProfile_Create]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LandlordProfile_Create]
    @UserId NVARCHAR(450),
    @FullName NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @City NVARCHAR(100),
    @Province NVARCHAR(100),
    @Bio NVARCHAR(500),
    @WhatsAppNumber NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserProfiles WHERE UserId = @UserId)
        UPDATE UserProfiles
        SET FullName = @FullName,
            PhoneNumber = @PhoneNumber,
            City = @City,
            Province = @Province
        WHERE UserId = @UserId
    ELSE
        INSERT INTO UserProfiles
        (
            UserId,
            FullName,
            PhoneNumber,
            City,
            Province
        )
        VALUES
        (
            @UserId,
            @FullName,
            @PhoneNumber,
            @City,
            @Province
        );

    IF EXISTS (SELECT 1 FROM LandlordProfiles WHERE UserId = @UserId)
        UPDATE LandlordProfiles
        SET Bio = @Bio,
            WhatsAppNumber = @WhatsAppNumber,
			IsVerified = 0,
			VerificationNotes = null,
			VerifiedAt = null,
			VerifiedBy = null
        WHERE UserId = @UserId
    ELSE
        INSERT INTO LandlordProfiles
        (
            UserId,
            Bio,
            WhatsAppNumber,
            IsVerified,
            VerifiedAt
        )
        VALUES
        (
            @UserId,
            @Bio,
            @WhatsAppNumber,
            0,
            NULL
        );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Add_Listing_Photo]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Add_Listing_Photo]
    @ListingId INT,
    @LandlordUserId NVARCHAR(450),
    @PhotoPath NVARCHAR(500),
    @IsPrimary BIT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY
		BEGIN TRANSACTION;
				
			IF NOT EXISTS
			(
				SELECT 1
				FROM Listing
				WHERE ListingId = @ListingId
				  AND LandlordUserId = @LandlordUserId
				  AND IsActive = 1
			)
			BEGIN
				ROLLBACK TRANSACTION
				SELECT 0 AS Succes;
				RETURN;
			END

			-- If primary image, unset previous primary
			IF @IsPrimary = 1
			BEGIN
				UPDATE ListingPhoto
				SET IsPrimary = 0
				WHERE ListingId = @ListingId
					AND IsActive = 1;
			END

			INSERT INTO ListingPhoto
			(
				ListingId,
				PhotoPath,
				IsPrimary,
				CreatedAt
			)
			VALUES
			(
				@ListingId,
				@PhotoPath,
				@IsPrimary,
				GETDATE()
			);

			UPDATE Listing
			SET
				-- Re-verification required after edits.
				IsVerified = 0,
				VerifiedBy = NULL,
				VerifiedOn = NULL,
				VerificationNotes = NULL
			WHERE ListingId = @ListingId
				AND LandlordUserId = @LandlordUserId;

		COMMIT TRANSACTION;

		SELECT 1 AS Success;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Create_Listing]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Listing_Create_Listing]
    @LandlordUserId NVARCHAR(450),
	@PropertyId INT,
    @Title NVARCHAR(150),
    @Description NVARCHAR(MAX),
	@AvailableUnits INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

	INSERT INTO Listing (LandlordUserId, PropertyId,Title, Description, Price, AvailableUnits,IsAvailable, IsVerified, IsActive, CreatedAt, UpdatedAt)
			VALUES (@LandlordUserId, @PropertyId, @Title, @Description, @Price, @AvailableUnits, 1, 0, 1, GETDATE(), GETDATE());
		  
	DECLARE @ListingId INT = SCOPE_IDENTITY();

	-- Return the newly inserted ListingID
    SELECT @ListingId AS ListingId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Delete]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Delete]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Listing
    WHERE ListingId = @ListingId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Get_For_Edit]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Listing_Get_For_Edit]
    @ListingId INT,
    @LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.PropertyId,
        l.Title,
        l.Description,
        l.Price,
        l.IsAvailable,
		l.AvailableUnits,

        p.PropertyName,

        a.City,
        a.Suburb

    FROM Listing l

    INNER JOIN Property p
        ON l.PropertyId = p.PropertyId

    INNER JOIN Address a
        ON p.AddressId = a.AddressId

    WHERE l.ListingId = @ListingId
      AND l.LandlordUserId = @LandlordUserId
      AND l.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Get_Listing_By_Id]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Get_Listing_By_Id]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.PropertyId,
        l.Title,
        l.Description,
        l.Price,
        l.IsAvailable,
		l.AvailableUnits,
        l.IsVerified,
		l.VerificationNotes,
		l.VerifiedOn,
        l.CreatedAt,
		l.LandlordUserId,

        pr.PropertyName,
        pr.PropertyType,
		pr.TotalRooms,
        pr.IsVerified AS PropertyVerified,

        a.Province,
        a.City,
        a.Suburb,
        a.Street,
        
        up.PhoneNumber,
        up.FullName,
		lp.Bio AS LandlordBio,
		lp.WhatsAppNumber,
		lp.IsVerified AS LandlordVerified

    FROM Listing l
    INNER JOIN Property pr
        ON l.PropertyId = pr.PropertyId

    INNER JOIN Address a
        ON pr.AddressId = a.AddressId

    INNER JOIN UserProfiles up
        ON l.LandlordUserId = up.UserId

	INNER JOIN LandlordProfiles lp 
		ON l.LandlordUserId = lp.UserId

    WHERE l.ListingId = @ListingId
      AND l.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Get_Listing_Details]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Listing_Get_Listing_Details]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.PropertyId,
        l.Title,
        l.Description,
        l.Price,
        l.IsAvailable,
		l.AvailableUnits,
        l.IsVerified,
        l.CreatedAt,
		l.LandlordUserId,

		pr.PropertyId,
        pr.PropertyName,
        pr.PropertyType,
		pr.TotalRooms,
        pr.IsVerified AS PropertyVerified,

        a.Province,
        a.City,
        a.Suburb,
        a.Street,
        
        up.PhoneNumber,
        up.FullName,
		lp.Bio AS LandlordBio,
		lp.WhatsAppNumber,
		lp.IsVerified AS LandlordVerified

    FROM Listing l
    INNER JOIN Property pr
        ON l.PropertyId = pr.PropertyId

    INNER JOIN Address a
        ON pr.AddressId = a.AddressId

    INNER JOIN UserProfiles up
        ON l.LandlordUserId = up.UserId

	INNER JOIN LandlordProfiles lp 
		ON l.LandlordUserId = lp.UserId

    WHERE l.ListingId = @ListingId
      AND l.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Get_Listing_Photos]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Get_Listing_Photos]
    @ListingId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PhotoId,
        PhotoPath,
        IsPrimary
    FROM ListingPhoto
    WHERE ListingId = @ListingId
      AND IsActive = 1
    ORDER BY IsPrimary DESC, CreatedAt;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Get_Photo_Count_By_Listing]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Listing_Get_Photo_Count_By_Listing] 
	-- Add the parameters for the stored procedure here
	@ListingId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT COUNT(*) FROM ListingPhoto
	WHERE ListingId = @ListingId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Search_Listings]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Search_Listings]
    @Province NVARCHAR(100) = NULL,
    @City NVARCHAR(100) = NULL,
    @Suburb NVARCHAR(100) = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.ListingId,
        l.Title,
        l.Price,
        a.Province,
        a.City,
        a.Suburb,
        p.PhotoPath AS PrimaryPhoto,
        pr.PropertyId,
        pr.PropertyName,
        pr.PropertyType,
        pr.IsVerified
    FROM Listing l
    INNER JOIN Property pr
        ON l.PropertyId = pr.PropertyId
    INNER JOIN Address a
        ON pr.AddressId = a.AddressId
	INNER JOIN AspNetUsers u
		ON l.LandlordUserId = u.Id
    LEFT JOIN ListingPhoto p
        ON p.ListingId = l.ListingId
       AND p.IsPrimary = 1
       AND p.IsActive = 1
    WHERE l.IsActive = 1
      AND l.IsAvailable = 1
      AND l.IsVerified = 1
      AND pr.IsVerified = 1
	  AND (u.LockoutEnd IS NULL OR u.LockoutEnd < SYSUTCDATETIME())
      AND (@Province IS NULL OR a.Province = @Province)
      AND (@City IS NULL OR a.City = @City)
      AND (@Suburb IS NULL OR a.Suburb = @Suburb)
      AND (@MinPrice IS NULL OR l.Price >= @MinPrice)
      AND (@MaxPrice IS NULL OR l.Price <= @MaxPrice)
    ORDER BY l.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listing_Update]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Listing_Update]
    @ListingId INT,
    @LandlordUserId NVARCHAR(450),
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Price DECIMAL(10,2),
	@AvailableUnits INT,
    @IsAvailable BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Listing
    SET
        Title = @Title,
        Description = @Description,
        Price = @Price,
		AvailableUnits = @AvailableUnits,
        IsAvailable = @IsAvailable,
        UpdatedAt = GETDATE(),

        -- Re-verification required after edits.
        IsVerified = 0,
        VerifiedBy = NULL,
        VerifiedOn = NULL,
        VerificationNotes = NULL
    WHERE ListingId = @ListingId
      AND LandlordUserId = @LandlordUserId
      AND IsActive = 1;

    SELECT CAST(CASE WHEN @@ROWCOUNT = 1 THEN 1 ELSE 0 END AS INT) AS Success;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListingContactLog_Create]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListingContactLog_Create]
    @ListingId INT,
    @UserId NVARCHAR(450) = NULL,
    @ContactMethod NVARCHAR(50),
    @ConversationId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ListingContactLog
    (
        ListingId,
        UserId,
        ContactMethod,
        ConversationId
    )
    VALUES
    (
        @ListingId,
        @UserId,
        @ContactMethod,
        @ConversationId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListingContactLog_Exists]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListingContactLog_Exists]
    @ListingId INT,
    @UserId NVARCHAR(450),
    @ContactMethod NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*)
    FROM ListingContactLog
    WHERE ListingId = @ListingId
      AND UserId = @UserId
      AND ContactMethod = @ContactMethod;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListingPhoto_Delete]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListingPhoto_Delete]
    @PhotoId INT,
    @ListingId INT,
    @LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @WasPrimary BIT = 0;
    DECLARE @NewPrimaryPhotoId INT;

    -- Determine whether the target photo is currently primary
    SELECT @WasPrimary = IsPrimary
    FROM ListingPhoto lp
    INNER JOIN Listing l
        ON l.ListingId = lp.ListingId
    WHERE lp.PhotoId = @PhotoId
      AND lp.ListingId = @ListingId
      AND lp.IsActive = 1
      AND l.LandlordUserId = @LandlordUserId
      AND l.IsActive = 1;

    -- Soft delete photo
    UPDATE lp
    SET IsActive = 0,
        IsPrimary = 0
    FROM ListingPhoto lp
    INNER JOIN Listing l
        ON l.ListingId = lp.ListingId
    WHERE lp.PhotoId = @PhotoId
      AND lp.ListingId = @ListingId
      AND lp.IsActive = 1
      AND l.LandlordUserId = @LandlordUserId
      AND l.IsActive = 1;

    IF @@ROWCOUNT = 0
    BEGIN
        SELECT CAST(0 AS INT) AS Success;
        RETURN;
    END

    -- If the deleted photo was primary,
    -- promote the oldest remaining active photo
    IF @WasPrimary = 1
    BEGIN
        SELECT TOP 1
            @NewPrimaryPhotoId = PhotoId
        FROM ListingPhoto
        WHERE ListingId = @ListingId
          AND IsActive = 1
        ORDER BY CreatedAt ASC;

        IF @NewPrimaryPhotoId IS NOT NULL
        BEGIN
            UPDATE ListingPhoto
            SET IsPrimary = 1
            WHERE PhotoId = @NewPrimaryPhotoId;
        END
    END

    SELECT CAST(1 AS INT) AS Success;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListingPhoto_Set_Primary]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListingPhoto_Set_Primary]
    @PhotoId INT,
    @ListingId INT,
	@LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

		BEGIN TRY

			-- Validate that the photo exists, belongs to the listing,
			-- and is active before changing anything.
			IF NOT EXISTS (
				SELECT 1
				FROM ListingPhoto lp
				INNER JOIN Listing l ON l.ListingId = lp.ListingId
				WHERE lp.PhotoId = @PhotoId
				  AND lp.ListingId = @ListingId
				  AND lp.IsActive = 1
				  AND l.LandlordUserId = @LandlordUserId
				  AND l.IsActive = 1
				)
			BEGIN
				SELECT CAST(0 AS INT) AS Success;
				RETURN;
			END
			BEGIN TRANSACTION;
				UPDATE ListingPhoto
				SET IsPrimary = 0
				WHERE ListingId = @ListingId
						 AND IsActive = 1;

				UPDATE ListingPhoto
				SET IsPrimary = 1
				WHERE PhotoId = @PhotoId
				  AND ListingId = @ListingId
				  AND IsActive = 1;

				DECLARE @RowsAffected INT = @@ROWCOUNT;
			COMMIT TRANSACTION; 

			SELECT CAST(CASE WHEN @RowsAffected = 1 THEN 1 ELSE 0 END AS INT) AS Success;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Create_Conversation]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Create_Conversation]
	@ListingId INT,
	@TenantId NVARCHAR(450),
	@LandlordId NVARCHAR(450)
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1
		FROM Conversation
		WHERE ListingId = @ListingId AND TenantId = @TenantId
	)
	BEGIN
		INSERT INTO Conversation (ListingId, TenantId, LandlordId)
			VALUES (@ListingId, @TenantId, @LandlordId)
	END

	SELECT ConversationId
	FROM Conversation
	WHERE ListingId = @ListingId AND TenantId = @TenantId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Get_Conversation_Header]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Messaging_Get_Conversation_Header]
    @ConversationId INT,
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.ConversationId,
        c.ListingId,
        l.Title AS ListingTitle,
		LP.PhotoPath AS PrimaryPhoto,

        CASE
            WHEN c.LandlordId = @UserId THEN c.TenantId
            ELSE c.LandlordId
        END AS OtherUserId,

        up.FullName AS OtherUserName

    FROM Conversation c

    INNER JOIN Listing l
        ON l.ListingId = c.ListingId
	LEFT JOIN ListingPhoto LP
		ON LP.ListingId = l.ListingId
		AND LP.IsPrimary = 1
		AND LP.IsActive = 1
	
    LEFT JOIN UserProfiles up
        ON up.UserId =
        CASE
            WHEN c.LandlordId = @UserId THEN c.TenantId
            ELSE c.LandlordId
        END

    WHERE c.ConversationId = @ConversationId
      AND (
            c.TenantId = @UserId
            OR
            c.LandlordId = @UserId
          );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Get_Conversation_Messages]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Get_Conversation_Messages]
    @ConversationId INT,
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    -- Messages
    SELECT
        M.MessageId,
        M.ConversationId,
        M.SenderId,
        M.MessageText,
        M.CreatedAt,
        M.IsRead,
        CASE
            WHEN M.SenderId = @UserId THEN 1
            ELSE 0
        END AS IsMyMessage
    FROM Message M
		INNER JOIN Conversation C
			ON C.ConversationId = M.ConversationId
    WHERE
        M.ConversationId = @ConversationId
        AND
        (
            C.TenantId = @UserId
            OR
            C.LandlordId = @UserId
        )
    ORDER BY M.CreatedAt;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Get_Inbox]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Get_Inbox]
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.ConversationId,
        c.ListingId,
        l.Title AS ListingTitle,
        c.LastMessageAt,

        CASE 
            WHEN c.LandlordId = @UserId THEN c.TenantId
            ELSE c.LandlordId
        END AS OtherUserId,

        up.FullName AS OtherUserName,

        m.MessageText AS LastMessage,

        (
            SELECT COUNT(*)
            FROM Message m2
            WHERE m2.ConversationId = c.ConversationId
              AND m2.IsRead = 0
              AND m2.IsDeleted = 0
              AND m2.SenderId <> @UserId
        ) AS UnreadCount

    FROM Conversation c

    OUTER APPLY (
        SELECT TOP 1 MessageText, CreatedAt
        FROM Message
        WHERE ConversationId = c.ConversationId
          AND IsDeleted = 0
        ORDER BY CreatedAt DESC
    ) m

    INNER JOIN UserProfiles up
        ON up.UserId = 
        CASE 
            WHEN c.LandlordId = @UserId THEN c.TenantId
            ELSE c.LandlordId
        END

    INNER JOIN Listing l
        ON l.ListingId = c.ListingId

    WHERE c.TenantId = @UserId 
       OR c.LandlordId = @UserId

    ORDER BY c.LastMessageAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Get_Unread_Count]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Get_Unread_Count]
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS UnreadCount
    FROM Message m
    INNER JOIN Conversation c 
        ON m.ConversationId = c.ConversationId
    WHERE 
		(
			(c.LandlordId = @UserId AND m.SenderId <> @UserId)
			OR
			(c.TenantId = @UserId AND m.SenderId <> @UserId)
		)
		AND m.IsRead = 0
		AND m.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Mark_Conversation_Read]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Mark_Conversation_Read]
    @ConversationId INT,
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE M
    SET M.IsRead = 1
    FROM Message M
    INNER JOIN Conversation C
        ON C.ConversationId = M.ConversationId
    WHERE
        M.ConversationId = @ConversationId
        AND M.SenderId <> @UserId
        AND M.IsRead = 0
        AND
        (
            C.TenantId = @UserId
            OR
            C.LandlordId = @UserId
        );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_Send_Message]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_Send_Message]
    @ConversationId INT,
    @SenderId NVARCHAR(450),
    @MessageText NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate conversation ownership
        IF NOT EXISTS
        (
            SELECT 1
            FROM Conversation
            WHERE ConversationId = @ConversationId
              AND (@SenderId = TenantId
                   OR @SenderId = LandlordId)
        )
        BEGIN
            RAISERROR('Conversation not found or access denied.', 16, 1);
        END;

        -- Trim and validate message
        SET @MessageText = LTRIM(RTRIM(ISNULL(@MessageText, '')));

        IF LEN(@MessageText) = 0
        BEGIN
            RAISERROR('Message cannot be empty.', 16, 1);
        END;

        -- Insert message
        INSERT INTO Message
        (
            ConversationId,
            SenderId,
            MessageText
        )
        VALUES
        (
            @ConversationId,
            @SenderId,
            @MessageText
        );

        -- Update conversation activity
        UPDATE Conversation
        SET LastMessageAt = GETDATE()
        WHERE ConversationId = @ConversationId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Messaging_ValidateConversation]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Messaging_ValidateConversation]
    @ConversationId INT,
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(
            CASE
                WHEN EXISTS
                (
                    SELECT 1
                    FROM Conversation C
                    WHERE
                        C.ConversationId = @ConversationId
                        AND
                        (
                            C.TenantId = @UserId
                            OR C.LandlordId = @UserId
                        )
                )
                THEN 1
                ELSE 0
            END
        AS BIT) AS IsValidConversation;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Profile_Get_By_UserId]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Profile_Get_By_UserId]
    @UserId NVARCHAR(450)
AS
BEGIN
    SELECT up.UserId,
		up.FullName,
		up.PhoneNumber,
		up.Province,
		up.City,

		lp.Bio AS LandlordSplit,
		lp.Bio,
		lp.WhatsAppNumber,
		lp.IsVerified,
		lp.VerificationNotes,
		lp.VerifiedAt
    FROM UserProfiles up
	LEFT JOIN LandlordProfiles lp on up.UserId = lp.UserId
    WHERE up.UserId = @UserId


END
GO
/****** Object:  StoredProcedure [dbo].[sp_Profile_Landlord_Get_By_UserId]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Profile_Landlord_Get_By_UserId]
    @UserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        lp.LandlordProfileId,
        lp.UserId,
        lp.Bio,
		lp.WhatsAppNumber,
        lp.IsVerified,
        lp.VerifiedAt
    FROM LandlordProfiles lp
    WHERE lp.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Profile_LandlordProfile_Public]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Profile_LandlordProfile_Public]
    @UserId NVARCHAR(450)
AS
BEGIN
    SELECT 
        u.FullName,
        u.City,
        u.Province,
        l.Bio,
		l.WhatsAppNumber,
        l.IsVerified
    FROM UserProfiles u
    INNER JOIN LandlordProfiles l ON u.UserId = l.UserId
    WHERE u.UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Profile_Upsert]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Profile_Upsert]
    @UserId NVARCHAR(450),
    @FullName NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @City NVARCHAR(100),
    @Province NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM UserProfiles WHERE UserId = @UserId)
        UPDATE UserProfiles
        SET FullName = @FullName,
            PhoneNumber = @PhoneNumber,
            City = @City,
            Province = @Province
        WHERE UserId = @UserId
    ELSE
        INSERT INTO UserProfiles (UserId, FullName, PhoneNumber, City, Province)
        VALUES (@UserId, @FullName, @PhoneNumber, @City, @Province)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Add_Photo]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Property_Add_Photo]
    @PropertyId INT,
    @PhotoPath NVARCHAR(255),
	@IsPrimary BIT,
	@LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;
	SET XACT_ABORT ON;
	BEGIN TRY
		BEGIN TRANSACTION;
				
			IF NOT EXISTS
			(
				SELECT 1 
					FROM Property
					WHERE PropertyId = @PropertyId
						AND LandlordId = @LandlordUserID
						AND IsActive = 1
			)
			BEGIN
				ROLLBACK TRANSACTION
				SELECT 0 AS Succes;
				RETURN;
			END

			-- If primary image, unset previous primary
			IF @IsPrimary = 1
			BEGIN
				UPDATE PropertyPhoto
				SET IsPrimary = 0
				WHERE PropertyId = @PropertyId
					AND IsActive = 1;
			END

			INSERT INTO PropertyPhoto (PropertyId, PhotoPath, IsPrimary, IsActive, CreatedAt)
				VALUES (@PropertyId, @PhotoPath, @IsPrimary, 1, GETDATE());

			UPDATE Property
			SET
				-- Re-verification required after edits.
				IsVerified = 0,
				VerifiedBy = NULL,
				VerifiedOn = NULL,
				VerificationNotes = NULL
			WHERE PropertyId = @PropertyId
				AND LandlordId = @LandlordUserId;

		COMMIT TRANSACTION;

		SELECT 1 AS Success;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Delete]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Property_Delete]
    @PropertyId INT,
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @AddressId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

		--GET ADDRESS ID BEFORE DELETING PROPERTY
		SELECT @AddressId = AddressId
		From Property
		WHERE PropertyId = @PropertyId
          AND LandlordId = @LandlordId;

		UPDATE Listing
        SET IsActive = 0
        WHERE PropertyId = @PropertyId;

		--DELETE PROPERTY
        UPDATE Property
        SET
            IsActive = 0,
            DeletedAt = GETDATE()
        WHERE PropertyId = @PropertyId
          AND LandlordId = @LandlordId;

        --DELETE THE ADDRESS
		UPDATE Address
		SET
            IsActive = 0,
            DeletedAt = GETDATE()
        WHERE AddressId = @AddressId

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
        
		THROW;
    END CATCH
END

ALTER TABLE Address
ADD IsActive BIT NULL, DeletedAt DATETIME2 NULL
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get_By_Id]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Property_Get_By_Id]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
		p.CreatedAt,

		IsVerified,
		VerificationNotes,
		VerifiedOn,

        a.AddressId,
        a.Street,
        a.Suburb,
        a.City,
        a.Province,

		p.LandlordId AS LandlordUserId,
		up.PhoneNumber,
		up.FullName

    FROM Property p
    INNER JOIN Address a ON p.AddressId = a.AddressId
	INNER JOIN UserProfiles up ON p.LandlordId = up.UserId
    WHERE p.PropertyId = @PropertyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get_For_Edit]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Property_Get_For_Edit]
    @PropertyId INT,
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,

        a.Province,
        a.City,
        a.Suburb,
        a.Street

    FROM Property p
    INNER JOIN Address a
        ON p.AddressId = a.AddressId

    WHERE p.PropertyId = @PropertyId
      AND p.LandlordId = @LandlordId
      AND p.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get_Photo_Count]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Property_Get_Photo_Count] 
	-- Add the parameters for the stored procedure here
	@PropertyId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT COUNT(*) FROM PropertyPhoto
	WHERE PropertyId = @PropertyId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get_Photos]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Property_Get_Photos]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PhotoId,
        PhotoPath,
        IsPrimary
    FROM PropertyPhoto
    WHERE propertyId = @PropertyId
      AND IsActive = 1
    ORDER BY IsPrimary DESC, CreatedAt;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get_With_Listings]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Property_Get_With_Listings]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Property
    SELECT 
        p.PropertyId,
        p.PropertyName,
        p.PropertyType,
        p.TotalRooms,
        a.Street,
        a.Suburb,
        a.City,
        a.Province
    FROM Property p
    INNER JOIN Address a ON p.AddressId = a.AddressId
    WHERE p.PropertyId = @PropertyId
	AND p.IsActive = 1;
    -- Listings under property
    SELECT 
        l.ListingId,
        l.Title,
        l.Price,
        l.IsAvailable,
        l.IsVerified
    FROM Listing l
    WHERE l.PropertyId = @PropertyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Update]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Property_Update]
    @PropertyId INT,
    @LandlordId NVARCHAR(450),

    @PropertyName NVARCHAR(150),
    @PropertyType NVARCHAR(50),
    @TotalRooms INT,

    @Province NVARCHAR(100),
    @City NVARCHAR(100),
    @Suburb NVARCHAR(100),
    @Street NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE p
        SET
            p.PropertyName = @PropertyName,
            p.PropertyType = @PropertyType,
            p.TotalRooms = @TotalRooms,

			-- Re-verification required after edits.
			p.IsVerified = 0,
			p.VerifiedBy = NULL,
			p.VerifiedOn = NULL,
			p.VerificationNotes = NULL
        FROM Property p
        WHERE p.PropertyId = @PropertyId
          AND p.LandlordId = @LandlordId;

        UPDATE a
        SET
            a.Province = @Province,
            a.City = @City,
            a.Suburb = @Suburb,
            a.Street = @Street,
            a.UpdatedAt = GETDATE()
        FROM Address a
        INNER JOIN Property p
            ON a.AddressId = p.AddressId
        WHERE p.PropertyId = @PropertyId
          AND p.LandlordId = @LandlordId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyAmenities_Clear]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PropertyAmenities_Clear]
    @PropertyId INT,
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify ownership
    IF NOT EXISTS
    (
        SELECT 1
        FROM Property
        WHERE PropertyId = @PropertyId
          AND LandlordId = @LandlordId
    )
    BEGIN
        RAISERROR('Property not found or access denied.', 16, 1);
        RETURN;
    END

    DELETE FROM PropertyAmenity
    WHERE PropertyId = @PropertyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyAmenities_Get_For_Edit]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_PropertyAmenities_Get_For_Edit]
    @PropertyId INT,
    @LandlordId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify ownership
    IF NOT EXISTS
    (
        SELECT 1
        FROM Property
        WHERE PropertyId = @PropertyId
          AND LandlordId = @LandlordId
    )
    BEGIN
        RAISERROR('Property not found or access denied.', 16, 1);
        RETURN;
    END

	  SELECT
		a.AmenityId,
		a.Name,
		a.Category,
		a.Icon,
		CAST(
			CASE
				WHEN pa.PropertyAmenityId IS NOT NULL THEN 1
				ELSE 0
			END
		AS BIT) AS IsSelected
	FROM Amenity a
	LEFT JOIN PropertyAmenity pa
		ON pa.AmenityId = a.AmenityId
	   AND pa.PropertyId = @PropertyId
	WHERE a.IsActive = 1
	ORDER BY a.Category, a.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyAmenity_Add]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_PropertyAmenity_Add]
    @PropertyId INT,
    @AmenityId INT,
    @LandlordUserId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Property
        WHERE PropertyId = @PropertyId
          AND LandlordId = @LandlordUserId
    )
    BEGIN
        RAISERROR('Property not found or access denied.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM Amenity
        WHERE AmenityId = @AmenityId
          AND IsActive = 1
    )
    BEGIN
        RAISERROR('Amenity not found.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM PropertyAmenity
        WHERE PropertyId = @PropertyId
          AND AmenityId = @AmenityId
    )
    BEGIN
		BEGIN TRY
			BEGIN TRANSACTION;
				INSERT INTO PropertyAmenity
				(
					PropertyId,
					AmenityId
				)
				VALUES
				(
					@PropertyId,
					@AmenityId
				);

				UPDATE p
				SET
					-- Re-verification required after edits.
					p.IsVerified = 0,
					p.VerifiedBy = NULL,
					p.VerifiedOn = NULL,
					p.VerificationNotes = NULL
				FROM Property p
				WHERE p.PropertyId = @PropertyId
				  AND p.LandlordId = @LandlordUserId;

			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			THROW;
		END CATCH;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyAmenity_Get_By_PropertyId]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PropertyAmenity_Get_By_PropertyId]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.AmenityId,
        a.Name,
        a.Category,
        a.Icon
    FROM PropertyAmenity pa
    INNER JOIN Amenity a
        ON pa.AmenityId = a.AmenityId
    WHERE pa.PropertyId = @PropertyId
      AND a.IsActive = 1
    ORDER BY a.Category, a.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyAmenity_Remove]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PropertyAmenity_Remove]
    @PropertyId INT,
    @AmenityId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM PropertyAmenity
    WHERE PropertyId = @PropertyId
      AND AmenityId = @AmenityId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyPhoto_Delete]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 CREATE PROCEDURE [dbo].[sp_PropertyPhoto_Delete]
     @PhotoId INT,
     @PropertyId INT
 AS
 BEGIN
     SET NOCOUNT ON;

     UPDATE PropertyPhoto
     SET IsActive = 0
     WHERE PhotoId = @PhotoId
       AND PropertyId = @PropertyId;

     -- Handle primary photo edge case:
     -- If the deleted photo was the primary photo, find the oldest remaining active photo for the property
     -- and set it as the new primary. If no photos remain, no primary photo will exist.
     IF EXISTS (SELECT 1 FROM PropertyPhoto WHERE PhotoId = @PhotoId AND IsPrimary = 1 AND IsActive = 0)
     BEGIN
         DECLARE @NewPrimaryPhotoId INT;

         SELECT TOP 1 @NewPrimaryPhotoId = PhotoId
         FROM PropertyPhoto
         WHERE PropertyId = @PropertyId
           AND IsActive = 1
         ORDER BY CreatedAt ASC;

         IF @NewPrimaryPhotoId IS NOT NULL
         BEGIN
             UPDATE PropertyPhoto
             SET IsPrimary = 1
             WHERE PhotoId = @NewPrimaryPhotoId;
         END
     END
 END;
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyPhoto_Set_Primary]    Script Date: 2026/07/02 07:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_PropertyPhoto_Set_Primary]
    @PhotoId INT,
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validate that the photo exists, belongs to the property,
        -- and is active before changing anything.
        IF NOT EXISTS
        (
            SELECT 1
            FROM PropertyPhoto
            WHERE PhotoId = @PhotoId
              AND PropertyId = @PropertyId
              AND IsActive = 1
        )
        BEGIN
            RAISERROR('Invalid or inactive photo selected.', 16, 1);
            RETURN;
        END

        BEGIN TRANSACTION;

        -- Clear existing primary photo
        UPDATE PropertyPhoto
        SET IsPrimary = 0
        WHERE PropertyId = @PropertyId;

        -- Set selected photo as primary
        UPDATE PropertyPhoto
        SET IsPrimary = 1
        WHERE PhotoId = @PhotoId
          AND PropertyId = @PropertyId
          AND IsActive = 1;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
USE [master]
GO
